<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        <a href="/home" class="text-white">Cold 1.0</a>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/home" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
              aria-current="page">Home</a>
            <a href="/schedules"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Schedules</a>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logs</a>
            <a href="#"
              class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Settings</a>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <a class="text-white underline" href="https://github.com/TheWisePigeon/cold" target="_blank">
            <h1>Cold on github</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
