<!DOCTYPE html>
<html lang="en" class=" h-full bg-gray-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
  {{template "partials/drawer" .}}
  {{template "partials/header" .}}
  <main>
    <div class="bg-red-500 mx-auto max-w-7xl h-full py-6 sm:px-6 lg:px-8">
      {{embed}}
    </div>
  </main>
</body>

</html>
